.map-container {
  position: relative;
  height: 50vh; // Ajusta según lo necesario
}

.map {
  height: 100%;
}

.route-info {
  margin-top: 16px;
}

ion-button {
  margin-top: 16px;
  display: block; // Asegúrate de que el botón se muestre como bloque
  width: 100%; // Asegúrate de que el botón ocupe el ancho disponible
}
